{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Semua Produk - TechSpark{% endblock %}

{% block content %}

    <div class="container" style="padding-top: 5rem; min-height: 50vh;">
    
        <h2 class="section-title">Semua Produk Kami</h2>
        
        <p style="text-align: center; font-size: 1.2rem; color: #b9d5f0;">
            Halaman ini masih dalam pengembangan.
            <br>
            Nantinya, semua produk akan muncul di sini.
        </p>

        </div>

{% endblock %}